@import "_config.scss";

body {
    margin: 0 !important;


main {
    width: 100%;
    display: flex;
    flex-direction: row;
    
    .map {
        height: 100vh;
        width: 70%;
        border-right: 3px solid grey;

        // Info window container
        .gm-style-iw-d {
            div {
                margin-bottom: 5px;
            }
        }

        
    
    }
    
    .item-list-container {
        width: 30%;
        height: 100vh;
        overflow: scroll;
        background-color: $white;

        a {
            color: black;
        }

        .item-list-filter-container {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            box-sizing: border-box; 
            box-shadow: $shadow;
            padding: 0px 10px 10px 0px;
            border: .1px transparent;
            background-color: rgb(219, 220, 223);

            .filter {
                padding-left: 5px;
                box-sizing: border-box; 
    
            }
        }
        
        
        .item {
            box-sizing: border-box;
            box-shadow: -5px -5px 10px rgb(96, 101, 107) inset;
            padding-top: 5px;
            padding-left: 10px;
            padding-bottom: 10px;
            border: .1px transparent;
            background-color: $lightGrey;

            .item-rating {
                display: inline-flex;

                p {
                    margin-bottom: 0;
                }

            }

            .button-view-more {
                display: flex;
                justify-content: flex-end;
                margin-right: 10px;
            }
        }
    }
    
    
    
    .input-field {
        margin-right: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    
    #number-of-rates {
        margin-top: 0;
        margin-left: 5px;
    }
    
    button {
        display: block;
    }
}

.modal-header-container {
    justify-content: center;
    
}


}