main {
    display: flex;
    flex-direction: row;
}

.map {
    height: 100vh;
    width: 75%;
}

.item-list-container {
    width: 25%;
    height: 100vh;
    overflow: scroll;
    background-color: rgba(113,133,172,1);
}

.item {
    box-sizing: border-box;
    box-shadow: -5px -5px 10px rgb(96, 101, 107) inset;
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
    border: .1px transparent;
    background-color: rgb(219, 220, 223);
}

.input-field {
    margin-right: 5px;
    margin-bottom: 5px;
}
    
#number-of-rates {
    margin-top: 0;
    margin-left: 5px;
}

button {
    display: block;
}